<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Directory</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to 'Секції', admin_sections_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Категорії', admin_categories_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Місцини', admin_places_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Особливості', admin_features_path, class: 'nav-link' %>
      </li>
    </ul>
  </div>
</nav>